In [15]:
import pandas as pd

df = pd.read_csv("train.tsv.zip", sep="\t", header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,2635.json,false,Says the Annies List political group supports ...,abortion,dwayne-bohac,State representative,Texas,republican,0.0,1.0,0.0,0.0,0.0,a mailer
1,10540.json,half-true,When did the decline of coal start? It started...,"energy,history,job-accomplishments",scott-surovell,State delegate,Virginia,democrat,0.0,0.0,1.0,1.0,0.0,a floor speech.
2,324.json,mostly-true,"Hillary Clinton agrees with John McCain ""by vo...",foreign-policy,barack-obama,President,Illinois,democrat,70.0,71.0,160.0,163.0,9.0,Denver
3,1123.json,false,Health care reform legislation is likely to ma...,health-care,blog-posting,NaN,NaN,none,7.0,19.0,3.0,5.0,44.0,a news release
4,9028.json,half-true,The economic turnaround started at the end of ...,"economy,jobs",charlie-crist,NaN,Florida,democrat,15.0,9.0,20.0,19.0,2.0,an interview on CNN

In [16]:
df.columns = [
    "id",
    "label",
    "statement",
    "subject",
    "speaker",
    "job",
    "state",
    "party",
    "barely_true_counts",
    "false_counts",
    "half_true_counts",
    "mostly_true_counts",
    "pants_on_fire_counts",
    "context"
]

In [17]:
print(df["label"].unique())

['false' 'half-true' 'mostly-true' 'true' 'barely-true' 'pants-fire']

In [19]:
fake_classes = ["false", "barely-true", "pants-fire"]
real_classes = ["true", "mostly-true", "half-true"]

df["label"] = df["label"].apply(
    lambda x: 0 if x in fake_classes else 1
)

In [20]:
print(df["label"].unique())
print(df["label"].value_counts())

[0 1]
label
1    5752
0    4488
Name: count, dtype: int64

In [21]:
df = df.rename(columns={"statement": "text"})
df = df[["text", "label"]]

df.drop_duplicates(inplace=True)
df = df[df["text"].str.len() > 20]

df.to_csv("fake_news_cleaned.csv", index=False)

print("Final fake dataset size:", df.shape)

Final fake dataset size: (10205, 2)

In [22]:
print(df["label"].value_counts())

label
1    5738
0    4467
Name: count, dtype: int64