In [11]:
from google.colab import userdata
API_KEY = userdata.get("NEWS_API_KEY")

In [12]:
import requests
import pandas as pd



categories = ["business", "technology", "health"]
all_articles = []

for category in categories:
    url = "https://newsapi.org/v2/top-headlines"
    params = {
        "category": category,
        "language": "en",
        "pageSize": 100,
        "apiKey": API_KEY
    }

    response = requests.get(url, params=params)
    data = response.json()

    if "articles" in data:
        all_articles.extend(data["articles"])

# Convert to DataFrame
df_real = pd.DataFrame(all_articles)[["title", "description", "content"]]

# Remove empty rows
df_real.dropna(inplace=True)

# Label REAL news
df_real["label"] = 1   # 1 = REAL

print("Total REAL news articles:", len(df_real))
df_real.head()

Total REAL news articles: 135

,title,description,content,label
0,S Korean crypto firm accidentally pays out $40...,The company quickly realised its mistake and m...,"In April 2024 Citigroup, a US bank, mistakenly...",1
1,Pressure mounts on American Airlines CEO as ca...,"American Airlines made $111 million last year,...",A snow removal machine is seen working while a...,1
3,AI wiped out $400 billion this week — and it's...,AI isn't just hitting software valuations — it...,<ul><li>It's also the first tangible verdict o...,1
4,Trump promised a crypto revolution. So why is ...,Trump got elected promising to usher in a cryp...,It wasn't supposed to go this way for the cryp...,1
5,DVDs and public transit: Boycott drives people...,A sweeping boycott has begun — targeting tech ...,"In Portland, Ore., Brittany Trahan started buy...",1

In [5]:
df_real.to_csv("real_news_day1.csv", index=False)

In [6]:
import os
os.listdir()

['.config', 'real_news_day1.csv', 'sample_data']

In [7]:
df_real["text"] = (
    df_real["title"].fillna("") + " " +
    df_real["description"].fillna("") + " " +
    df_real["content"].fillna("")
)

In [8]:
df_real = df_real[["text", "label"]]
df_real.head()

                                                text  label
0  S Korean crypto firm accidentally pays out $40...      1
1  Pressure mounts on American Airlines CEO as ca...      1
3  AI wiped out $400 billion this week — and it's...      1
4  Trump promised a crypto revolution. So why is ...      1
5  DVDs and public transit: Boycott drives people...      1

In [9]:
df_real.to_csv("real_news_cleaned.csv", index=False)

In [10]:
import os
os.listdir()

['.config', 'real_news_cleaned.csv', 'real_news_day1.csv', 'sample_data']